.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# IntelliJ
.idea/

# VS Code?
/bin/
.classpath
.project
/.settings/
/src/main/antlr/a2geek/ghost/antlr/generated/.antlr/

# Assembly output
*.bin
*.lst
*.o
interp.po
a.out
